# Google API Configuration
# Reemplaza con tus propios valores de Google Cloud Console
GOOGLE_CLIENT_ID=917646543315-2un9i74gjt3sl80etduupufgr20876oe.apps.googleusercontent.com
GOOGLE_API_KEY=tu-api-key-aqui

# App Configuration
BACKUP_FREQUENCY_DAYS=1
KEEP_LOCAL_ATTACHMENTS=true
ENABLE_SYNC_NOTIFICATIONS=true
